@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<script src="~/js/Model/LicenseModuleModel/LisansKurumKisiAbonelikTanimModel.js"></script>
<script type="text/javascript" src="~/js/Repository/IRepository.js"></script>
<script src="~/js/Services/LicenseModuleServices/CompanyLicenseEmployeeManagementService.js"></script>
<link href="~/css/All/CompanyLicense.css" rel="stylesheet" />
<div class="container-fluid service-body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6 liste-baslik">
                    <h1>@localizator["Kurum Lisans Yönetimi"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content model-bind">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <label>@localizator["Lisans Seçiniz"].Value:<b style="color: red;">*</b> </label>
                            <select style="height: 38px; line-height: 38px; width: 100%" id="Lisanslar" data-placeholder="Lisans Seçiniz" data-text-field="tanim" data-value-field="tabloID" data-bind="source:lisansList, value:data.LisansGenelTanimId, events:{change:LisansOnchange}" data-role="dropdownlist" class="form-control select2-primary">
                            </select>
                            <label for="ErisimYetkisiVerilenSayfaIdList" class="validationMessage"></label>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 offset-xl-3 offset-lg-3 offset-md-3">
                        <div class="small-box bg-warning">
                            <div class="inner" id="lisansOlan" style="display: none">
                                <h3><span data-bind="text:lisansAktifSayi">-</span>/<span data-bind="text:lisansToplamSayi">-</span></h3>
                                <p>@localizator["Atanmış Lisans Sayısı"].Value</p>
                            </div>
                            <div class="inner" id="lisanOlm" style="display: none">
                                <h3><span data-bind="text:lisansOlmSayi" id="lisnsOlm">-</span></h3>
                                <p>@localizator["Atanmamış Lisans Sayısı"].Value</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-header text-left liste-baslik">
                            <h3>@localizator["Kişi Listesi"].Value</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="">
                            <table style="width: 100% !important;" id="KisiListesiTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@localizator["Kişi İsmi"].Value</th>
                                        <th>@localizator["Kullanıcı Adı"].Value</th>
                                        <th>@localizator["E posta"].Value</th>
                                        <th>@localizator["Lisans Durumu"].Value</th>
                                        <th style=' min-width: 20% !important;'>@localizator["İşlem"].Value</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade model-bind" id="LisansGuncelleModal" tabindex="-1" role="dialog" style="z-index: 999999;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LisansGuncelleBaslik">@localizator["Kişi Lisansı Güncelle"].Value</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 offset-xl-2 offset-lg-2 offset-md-2">
                        <div class="form-group">
                            <label class="Lbl">@localizator["Lisans Seçiniz"].Value:<b style="color: red;">*</b> </label>
                            <select style="height: 38px; line-height: 38px; width: 100%" id="Lisanslar-Modal" data-placeholder="Lisans Seçiniz" data-text-field="tanim" data-value-field="tabloID" data-bind="source:lisansList, value:data.LisansGenelTanimId, events:{change:ModalLisansOnchange}" data-role="dropdownlist" class="form-control select2-primary">
                            </select>
                            <label for="ErisimYetkisiVerilenSayfaIdList" class="validationMessage"></label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-12 col-12 offset-xl-3 offset-lg-3 offset-md-3">
                        <div class="form-group text-center">
                            <label id="lisansAtanacakKisi"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn cancel-button-float" data-dismiss="modal">@localizator["Kapat"].Value</button>
                <button type="button" class="btn add-buttons" id="modalOnay">@localizator["Onayla"].Value</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        employeeManagementService.initialize();
        $(document).on("click", "#modalOnay", function () {
            UpdateCompanyLicense()
        });
        if ($("#Lisanslar").val() === "0") {
            $("#lisansOlan").hide();
            $("#lisanOlm").show();
        } else {
            $("#lisansOlan").show();
            $("#lisanOlm").hide();
        }
    });
</script>