@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>*@
<link href="~/lib/select2-4-0-13/select2.min.css" rel="stylesheet" />
<script src="~/lib/select2-4-0-13/select2.min.js"></script>

@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/All/notificationsetting.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/Model/OzelBildirimModel.js"></script>
@*<script type="text/javascript" src="~/js/Repository/IRepository.js"></script>*@
<script type="text/javascript" src="~/js/Services/OzelBildirimlerService.js"></script>
<section class="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>@localizator["Özel Bildirim Ekleme"].Value</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid model-bind">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body ">
                        <div class="row mt-3 mb-5">
                            <div class="row col-md-6">
                                <div class="col-md-12">
                                    <div class="row col-md-12">
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Bildirim Gönderilecek Kişiler"].Value*</label>
                                            <div class=" input-group-select mb-3">

                                                <select style="line-height: 20 !important;" id="secimTuru" class="form-control form-control-sm select2-primary">
                                                    <option value="0">@localizator["Bildirim Gönderilecek Kişiler"].Value</option>
                                                    <option value="1">@localizator["Hedef Kitle"].Value</option>
                                                    <option value="2">@localizator["Pozisyon"].Value</option>
                                                    <option value="3">@localizator["Rol"].Value</option>
                                                    <option value="4">@localizator["Kurum"].Value</option>
                                                </select>
                                            </div>
                                        </div>
                                        <label for="BildirimGonderilecekKisiList" class="validationMessage"></label>
                                    </div>
                                    <div class="row col-md-12 secimDiv" id="hedefkitleDiv" style="display: none;">
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Hedef Kitle"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select data-placeholder="@localizator["Hedef Kitle Seçiniz."].Value" class="form-control form-control-sm field-select2" data-text-field="tanim" data-value-field="tabloID" data-bind="source:hedefkitleler, value:hedefKitleId, events:{change:getHedefKitleUsers}" data-role="dropdownlist" data-value-primitive="true">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Kişiler"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select style="line-height: 20 !important;" id="hedef-kisiler" class="form-control form-control-sm select2-primary kisiList" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 secimDiv" id="pozisyonDiv" style="display: none;">
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Pozisyonlar"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select data-placeholder="@localizator["Pozisyon Seçiniz."].Value" class="form-control form-control-sm field-select2" data-text-field="tanim" data-value-field="tabloID" data-bind="source:pozisyonlar, value:pozisyonId, events:{change:getPozisyonUsers}" data-role="dropdownlist">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Kişiler"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select style="line-height: 20 !important;" id="pozisyon-kisiler" class="form-control form-control-sm select2-primary kisiList" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 secimDiv" id="rolDiv" style="display: none;">
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Roller"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select data-placeholder="@localizator["Rol Seçiniz."].Value" class="form-control form-control-sm field-select2" data-text-field="tanim" data-value-field="tabloID" data-bind="source:roller, value:rolId, events:{change:getRolUsers}" data-role="dropdownlist">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Kişiler"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select style="line-height: 20 !important;" id="rol-kisiler" class="form-control form-control-sm select2-primary kisiList" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 secimDiv" id="sirketDiv" style="display: none;">
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Kurumlar"].Value</label>
                                            <div class="input-group input-group-select mb-3">
                                                <select data-placeholder="@localizator["Kurum Seçinizr"].Value." class="form-control form-control-sm field-select2" data-text-field="tanim" data-value-field="tabloID" data-bind="source:kurumlar, value:kurumId, events:{change:getKurumUsers}" data-role="dropdownlist" data-value-primitive="true">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="Lbl">@localizator["Kişiler"].Value</label>
                                            <div class="input-group input-group-select mb-3">

                                                <select style="line-height: 20 !important;" id="kurum-kisiler" class="form-control form-control-sm select2-primary kisiList" multiple="multiple">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="kisilerDiv" style="display: none;">
                                    <div class="col-md-12" id="kisiPool">
                                        <label class="Lbl">@localizator["Seçtiğiniz Kişiler"].Value</label>
                                        <div class="input-group input-group-select mb-3">

                                            <select style="line-height: 20 !important;" id="total-kisiler" class="form-control form-control-sm select2-primary kisiList" multiple="multiple">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="row col-md-12">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="Lbl">@localizator["Zaman"].Value</label>
                                            <input name="bildirimZaman" id="bildirimZaman" class="form-control datetimepicker" type="text" data-bind="value:data.BildirimZamani">
                                        </div>
                                        <label for="BildirimZamani" class="validationMessage"></label>
                                    </div>
                                    <div class="col-md-5 mb-3">
                                        <label class="Lbl">@localizator["Metin"].Value</label>
                                        <input name="bildirimMetin" class="form-control" type="text" data-bind="value:data.BildirimMetni">
                                        <label for="BildirimMetni" class="validationMessage" style="display: none;"></label>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-6 text-center">
                                        <label class="Lbl">@localizator["Mail"].Value</label>
                                        <div>
                                            <input type="checkbox" class="form-control" data-bind="checked:data.BildirimEpostaYollayacakMi" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-6 text-center">
                                        <label class="Lbl">@localizator["SMS"].Value</label>
                                        <div>
                                            <input type="checkbox" class="form-control" data-bind="checked:data.BildirimSmsYollayacakMi" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-1 text-center mb-4" style="margin-top: 10px;">
                <button type="button" class="btn add-buttons btn-sm" data-bind="click:save">
                    @localizator["Kaydet"].Value
                </button>
                <button type="button" class="btn btn-sm cancel-button-right" onclick="location.href = '/notificationsetting/SpecificNotificationList'">Vazgeç</button>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {
        // convert UTC to local time
        var UTC = moment.utc().local().format('YYYY-MM-DDTHH:mm');
        var UTCN = moment().add(10, 'year').utc().local().format('YYYY-MM-DDTHH:mm');

        $("#bildirimZaman").attr({

            "max": UTCN,
            "min": UTC
        });
        ozelBildirimlerService.InitializeForSave();

    })
</script>