@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator

<link href="~/css/All/Geography.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/Model/CografyaListViewModel.js"></script>
<script type="text/javascript" src="~/js/Repository/IRepository.js"></script>
<script type="text/javascript" src="~/js/Services/CografyaService.js"></script>
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@localizator["Coğrafya Tanımlama"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content model-bind">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="Lbl"> @localizator["Ülke Seçiniz"].Value<b style="color: red;">*</b></label>
                                    <div class=" input-group-select mb-3">

                                        <select class="form-control form-control-sm field-select2" id="selectUlke" data-text-field="tanim" data-value-field="tabloID" data-bind="source:ulkelerList, value:data.UlkeId" data-role="dropdownlist" name="ulkesecim">
                                        </select>
                                        <label for="UlkeId" class="validationMessage"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <label class="Lbl"> @localizator["Coğrafya Tanımı"].Value<b style="color: red;">*</b></label>
                                    <input class="form-control  my-3" type="text" name="cografyatanim" data-bind="value:data.CografyaTanim" placeholder="">
                                    <label for="CografyaTanim" class="validationMessage"></label>
                                </div>
                                <span class="k-invalid-msg" data-for="cografyatanim"></span>
                                <div class="col-6 form-group">
                                    <label class="Lbl"> @localizator["Coğrafya Açıklama"].Value</label>
                                    <textarea class="form-control  my-3" type="text" data-bind="value:data.CografyaAciklama" placeholder=""></textarea>
                                    <label for="CografyaAciklama" class="validationMessage"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row col-12">
                        <div class="col-6 sehirListLabel">
                            <label class="sehirListLabelLabel">@localizator["Şehirler"].Value<b style="color: red;">*</b></label>
                            <button class="btn btn-info  btn-sm sehirListLabelbutton" data-bind="click:SelectAllSehir">@localizator["Tümünü Seç"].Value</button>
                        </div>
                        <div class="col-6">
                            <label class="sehirlabel">@localizator["Seçili Şehirler"].Value<b style="color: red;">*</b></label>
                            <button class="btn btn-danger  btn-sm rightbutton" data-bind="click:clearSelectList">@localizator["Tümünü Sil"].Value</button>
                        </div>
                    </div>
                    <div class=" row col-12">
                        <div class="col-6">
                            <table id="CografyaTanımlama" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@localizator["Şehir İsmi"].Value</th>
                                        <th>@localizator["İşlem"].Value</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table id="SeciliSehirler" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style='width: 60% !important;'>@localizator["Şehir İsmi"].Value</th>
                                        <th style='width: 40% !important; display: block !important'>@localizator["İşlem"].Value</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-10 offset-1 text-center  my-3">
                        <a href="/Geography/List" class="btn cancel-button-float">@localizator["Vazgeç"].Value</a>
                        <button type="button" class="btn add-buttons-nofloat confirm" data-bind="click:saveCografya">
                            @localizator["Kaydet"].Value
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        cografyaService.initializeforSave();
    })
</script>