@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
<script src="~/lib/AdminLTE/plugins/moment/moment.min.js"></script>
<script src="~/js/dinamikAlanlar.js" asp-append-version="true"></script>
<script src="~/js/kurumEkParametre.js" asp-append-version="true"></script>
<script src="~/js/KurumProfil.js" asp-append-version="true"></script>
<link href="~/css/All/KurumTemelBilgiler.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>@localizator["Kurum Bilgileri"].Value</h2>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@localizator["Organizasyon Bilgileri"].Value</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mx-auto" style="word-break: break-word;">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6 flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Kurum"].Value: </label>
                                    <a id="kurumAdi" style="width: 100%;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Kurum Tipi"].Value: </label>
                                    <div id="kurumTipi"></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Kuruluş Tarihi"].Value: </label>
                                    <a id="kurulusTarihi" style="width: 100%;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["E-Posta"].Value: </label>
                                    <a id="epostaAdresi">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Telefon No"].Value: </label>
                                    <a id="faxNo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Ticaret Sicil No"].Value: </label>
                                    <a id="ticaretSicilNo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-auto" style="word-break: break-word;">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Vergi No"].Value: </label>
                                    <a id="vergiNo"></a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Vergi Dairesi"].Value: </label>
                                    <a id="vergiDairesiAdi"></a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Web Sitesi"].Value: </label>
                                    <a id="webSitesi"></a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Kurum Ülke"].Value: </label>
                                    <a id="kurumUlkeAdi"></a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Kurum Şehir"].Value: </label>
                                    <a id="kurumSehirAdi"></a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-6  flex-div">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Müşteri Temsilcileri"].Value: </label>
                                    <div id="musteriTemsilcileri"></div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mx-auto" style="word-break: break-word;">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-12 flex-div">
                                <div class="form-group text-center">
                                    <label class="Lbl"> @localizator["Kurum Logo"].Value: </label>
                                    <a id="openImage">
                                        <img id="KurumResimUrl" class="profile-user-img img-fluid"
                                             alt=" @localizator["Kurum Logo"].Value">
                                    </a>
                                    <input class="form-control" type="file" id="KurumLogo" hidden>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-11">
                                <h3 class="card-title">@localizator["Adres Bilgileri"].Value</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body tableCard">
                        <div style="width: 100%;">
                            <div class="table-responsive">
                                <table id="adresTable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@localizator["Lokasyon Tipi"].Value</th>
                                            <th>@localizator["Ülke"].Value</th>
                                            <th>@localizator["Şehir"].Value</th>
                                            <th>@localizator["Adres"].Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyAdresTable"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-11">
                                <h3 class="card-title">@localizator["Banka Bilgileri"].Value</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body tableCard">
                        <div style="width: 100%;">
                            <div class="table-responsive">
                                <table id="bankaTable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@localizator["Banka"].Value</th>
                                            <th>@localizator["Şube"].Value</th>
                                            <th>@localizator["Hesap Numarası"].Value</th>
                                            <th>@localizator["IBAN"].Value</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyBankaTable"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@localizator["Ek Bilgiler"].Value</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" id="kurumEkBilgiler">
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>