@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
<link href="~/css/All/Profile.css" rel="stylesheet" />
<link href="~/css/All/ProfileUpdate.css" rel="stylesheet" />
<!-- Main content -->
<section class="content profile-update-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 id="Influencing-Docs">@localizator["Profil"].Value</h3>
                <div class="row">
                    <div class="col-md-7 Back">
                        <div class="row">
                            <div class="col-md-12 left">
                                <a href="javascript:;" id="openImage">
                                    <img id="KisiResimUrl" src="/img/_image.svg" class="profile-user-img img-fluid img-circle -Image1-Circle">
                                </a>

                                <a id="kurRes"><i id="kurResI" class="fas fa-minus-circle"></i></a>
                            </div>
                            <div class="col-md-12 left" id="NameMail">
                                <p class="Name-Surname"></p>
                                <p class="Email"></p>
                            </div>
                            <div class="col-md-12 left">
                                <p class="" id="alertDiv" style="display: none;"></p>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Ad"].Value</label>
                                    <input type="text" class="form-control Shape" id="KisiAdi" placeholder="Adı">
                                    <label for='KisiAdi' class='validationMessage'></label>
                                </div>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Soyad"].Value</label>
                                    <input type="text" class="form-control Shape" id="KisiSoyadi" placeholder="Soyadı">
                                    <label for='KisiSoyadi' class='validationMessage'></label>
                                </div>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["E-Posta"].Value</label>
                                    <input type="email" class="form-control Shape" id="KisiEposta" placeholder="E-Posta">
                                    <label for='KisiEposta' class='validationMessage'></label>
                                </div>
                            </div>
                            @*<div class="col-md-12 left">
                                    <div class="form-group row">
                                        <label class="Lbl">EKRAN ADI</label>
                                        <input type="text" class="form-control Shape" id="KisiEkranAdi" placeholder="Kişi Ekran Adı">
                                        <label for='KisiEkranAdi' class='validationMessage'></label>
                                    </div>
                                </div>*@
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label class="Lbl">@localizator["Telefon No"].Value:</label>
                                    </div>
                                    <div class="col-12 telefonDiv ">
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <input type="text" class="form-control Shape" id="KisiTelefon1" placeholder="@localizator["Telefon No"].Value" />
                                            </div>
                                            <div class="col-2 h-100" id="AlanKod">
                                                <button class="btn h-100 btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <a href="#">
                                                        <img id="ddlImg" src="~/lib/flag-icons/24x24/TR.png" />
                                                    </a>
                                                </button>
                                                <ul class="pr-5 dropdown-menu dropdown-menu-flags text-center" id="phoneicons">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <label for='KisiTelefon1' class='validationMessage'></label>
                                </div>
                            </div>
                            @* 
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Sistem Dili"].Value</label>
                                    <select id="DilID" class="form-control" style="width: 100%;">
                                    </select>
                                    <label for='DilID' class='validationMessage'></label>
                                </div>
                            </div> *@
                            <div class="col-md-12 left">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Eski Şifre"].Value</label>
                                    <input type="password" class="form-control Shape" id="ProfilEskiSifre" placeholder="Eski Şifre" autocomplete="new-password">
                                </div>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group row">
                                    <label class="Lbl">@localizator["Yeni Şifre"].Value</label>
                                    <input type="password" class="form-control Shape" id="ProfilYeniSifre" placeholder="Yeni Şifre">
                                </div>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group row">
                                    <label class="Lbl">@localizator["Yeni Şifre Tekrar"].Value</label>
                                    <input type="password" class="form-control Shape" id="ProfilYeniSifreTekrar" placeholder="Yeni Şifre Tekrar">
                                </div>
                            </div>
                            <div class="col-md-12 left">
                                <div class="form-group row">
                                    <p id="strengthMessage" for="SifreKarmasik" class="SifreKarmasik text-center">
                                        @localizator["Şifreniz en az 1 küçük harf, 1 büyük harf, 1 sayı ve 1 özel karakter içermelidir ve en az 8 karakter uzunluğunda olmalıdır."].Value
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button id="btnUpdate" class="Setup"> <p class="ContentP">@localizator["Güncelle"].Value</p></button>
                                <button id="btnDlt" class="Setup"><p class="ContentP">@localizator["Sil"].Value</p></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 Card">
                        <div class="row">
                            @*<div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-4"><label class="LabelView">Departman</label></div>
                                        <div class="col-md-8"><p class="proftxt">Orsa</p></div>
                                    </div>
                            </div>*@
                            <div class="col-md-12">
                                @*<hr />*@
                                <div class="row">
                                    <div class="col-md-4"> <label class="LabelView">@localizator["Kayıt Tarihi"].Value</label></div>
                                    <div class="col-md-8">
                                        <p class="proftxt"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalCropper" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop</h5>
            </div>
            <div class="modal-body">
                <div class="img-container" id="cropper-example">
                    <img id="imageCrop" src="" width="300">
                </div>
            </div>
            <div class="modal-footer">
                <button id="imageCropSave" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<input type="file" hidden="hidden" id="updimage" />
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" />*@
<script src="~/lib/cropper-4-1-0/cropper.min.js"></script>
<link href="~/lib/cropper-4-1-0/cropper.css" rel="stylesheet" />
<script src="~/js/PasswordJS.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        CustomInputMask("#KisiTelefon1");
    });
</script>