<link href="~/css/All/KisiEkParametreler.css" rel="stylesheet" />
@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
<script src="~/js/KisiEkParametrelerGuncelleme.js"></script>
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>@localizator["Kişi Ek Parametre Tanımlama"].Value</h2>
                    <!-- Başlığı tanımlamayla ilgili -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-10 offset-1">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="Lbl">
                                        @localizator["Parametre Adı"].Value
                                        <b style="color: red;">*</b>
                                    </label>
                                    <input class="form-control" type="text" placeholder="@localizator["Parametre Adı"].Value" id="ParamAdiGuncelle">
                                    <label for="ParametreAdi" class="validationMessage" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="Lbl"> @localizator["Parametre Tipi"].Value</label>
                                    <select id="ParamTipGuncelle" class="form-control" disabled style="width: 100%;">
                                        <option value="1">@localizator["Metin"].Value</option>
                                        <option value="2">@localizator["Seçim"].Value</option>
                                        <option value="3">@localizator["Dosya"].Value</option>
                                    </select>
                                    <div class="card card-secondary" id="DegerTekrarliAlanG">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Parametre Gösterim Tipi"].Value</label>
                                    <select id="ParamGosTipGuncelle" class="form-control" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="Lbl">@localizator["Zorunlu Alan Mı?"].Value</label>
                                    <div>
                                        <input id="ZorunluMuGuncelleCheckbox" type="checkbox" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-8 col-8 offset-xl-4 offset-lg-4 offset-md-4 offset-4 text-center">
                                <a href="/SuppParameters/PersonSuppParametersList" class="btn cancel-button">@localizator["Vazgeç"].Value</a>
                                <button type="button" id="guncelleButton" class="btn add-buttons">@localizator["Güncelle"].Value</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>