@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/All/KurumEkParametreler.css" rel="stylesheet" />
<script src="~/js/Model/KureselParametreler/SistemKureselParametrelerModel.js"></script>
<script src="~/js/Repository/IRepository.js"></script>
<script src="~/js/Services/KureselParametreler/SistemKureselParametrelerService.js"></script>
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@localizator["Sistem Küresel Parametre Değeri Tanımla"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 text-center">
                    <div class="card model-bind">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <div class="row">
                                        <div class="text-center">
                                            <label for="KureselParams" class="validationMessage"></label>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Session Timeout (Saniye)"].Value <b style="color: red;">*</b></label>
                                                <input name="sessiontimeout" class="form-control  my-3" type="number" data-bind="value: data.SessionTimeOut.IntValue"
                                                       placeholder="@localizator["Session Timeout Süresi Giriniz..."].Value">
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Zorunlu Şifre Yenileme Aralığı (Gün)"].Value <b style="color: red;">*</b></label>
                                                <input name="zorunlusifre" class="form-control  my-3" type="number" data-bind="value: data.ZorunluSifreYenilemeAraligi.IntValue"
                                                       placeholder="@localizator["Zorunlu Şifre Yenileme Aralığı..."].Value">
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Google Api Key"].Value</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: data.GoogleApiKey.Api" placeholder=">@localizator["Google Api Key"].Value...">
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Sms Başlığı"].Value</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: data.SmsBasligi.Api" placeholder="@localizator["Sms Başlığı"].Value....">
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Sms Api Url"].Value</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: data.SmsApiUrl.Api" placeholder="@localizator["Sms Api Url"].Value...">
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Sms Api Kullanıcı Adı"].Value</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: data.SmsApiKullaniciAdi.Api" placeholder="@localizator["Sms Api Kullanıcı Adı"].Value...">
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Sms Api Şifresi"].Value</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: data.SmsApiSifresi.Api" placeholder="@localizator["Sms Api Şifresi"].Value...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <a href="/panel" class="btn cancel-button-float">@localizator["Vazgeç"].Value</a>
                                    <button type="button" class="btn  add-buttons-nofloat confirm" data-bind="click:SaveUpdateSystemGlobal">
                                        @localizator["Kaydet"].Value
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        sistemKureselParametrelerService.initializeForListSystem();
    })
</script>