@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/All/Smtp.css" rel="stylesheet" />
<script src="~/js/Model/Smtp/SistemSmtpDegerleriModel.js"></script>
<script src="~/js/Repository/IRepository.js"></script>
<script src="~/js/Services/Smtp/SmtpService.js"></script>
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@localizator["Sistem SMTP Değerleri Ekleme"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card model-bind">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row text-center">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["SMTP Adı"].Value *</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: sistemSmtpDegerleri.SMTPAdi" placeholder="@localizator["Smtp Adı Giriniz"].Value..." required>
                                            </div>
                                            <label for="SMTPAdi" class="validationMessage"></label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Bağlantı Dizisi"].Value *</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: sistemSmtpDegerleri.SmtpBaglantiDizisi" placeholder="@localizator["Smtp Bağlantı Dizisi Giriniz"].Value...">
                                            </div>
                                            <label for="SmtpBaglantiDizisi" class="validationMessage"></label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Kullanıcı Adı"].Value *</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: sistemSmtpDegerleri.SmtpBaglantiKullaniciAdi" placeholder="@localizator["Smtp Bağlantı Kullanıcı Adı Giriniz"].Value...">
                                            </div>
                                            <label for="SmtpBaglantiKullaniciAdi" class="validationMessage"></label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="Lbl">@localizator["Şifre"].Value *</label>
                                                <input class="form-control  my-3" type="text" data-bind="value: sistemSmtpDegerleri.SmtpBaglantiSifre"
                                                       placeholder="@localizator["Smtp Bağlantı Şifre Giriniz"].Value...">
                                            </div>
                                            <label for="SmtpBaglantiSifre" class="validationMessage"></label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="Lbl">Port * </label>
                                                <input class="form-control  my-3" type="text" data-bind="value: sistemSmtpDegerleri.SMTPPort"
                                                       placeholder="@localizator["Smtp Port Giriniz"].Value...">
                                            </div>
                                            <label for="SMTPPort" class="validationMessage"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <a href="/smtp/systemsmtplist" class="btn cancel-button-float ">@localizator["Vazgeç"].Value</a>
                                <button type="button" class="btn confirm add-buttons-nofloat" data-bind="click:SaveSmtp">
                                    @localizator["Kaydet"].Value
                                </button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        smtpService.initializeforSave();
    })
</script>