@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> localizator
@*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" rel="stylesheet" />*@
<link href="~/lib/kendo/Content/kendo/2020.3.1118/kendo.common.min.css" rel="stylesheet" />
<link href="~/css/All/TargetGroup.css" rel="stylesheet" />

<script type="text/javascript" src="~/js/Repository/IRepository.js"></script>
<script type="text/javascript" src="~/js/Services/TargetGroupService.js"></script>

<div class="container-fluid model-bind">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 liste-baslik">
                    <h1>@localizator["Hedef Kitle Listesi"].Value</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <div class="card-header text-right">
                            <button type="button" class="btn add-buttons" id="ekleHeaderbtn">@localizator["Ekle"].Value</button>
                        </div>
                        <!-- /.card-header -->
                        <div class="">
                            <table id="list" style="width: 100% !important;" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@localizator["Tanım"].Value</th>
                                        <th>@localizator["Tipi"].Value</th>
                                        <th style=' min-width: 20% !important;'>@localizator["İşlem"].Value</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                                <tfoot>
                                    <tr>
                                        <th>@localizator["Tanım"].Value</th>
                                        <th>@localizator["Tipi"].Value</th>
                                        <th style=' min-width: 20% !important;'>@localizator["İşlem"].Value</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        TargetGroupService.initForList();

        $('#ekleHeaderbtn').on("click", function () {
            location.href = "/targetgroup/add";
        });
    })
</script>